@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@import url(reset.css);

// Variables
$gap: 1rem;
$half-gap: $gap/2;
$tiny-gap: $gap/6;
$main-font: "Poppins", sans-serif;

// Colors
$white: white;
$primary: rgb(69, 131, 224);

$primary-highlight: $primary;
$primary-highlight-hover: lighten($primary, 15%);

$bg-main: #e8e9eb;
$bg-header: darken($bg-main, 75%);
$bg-nav: darken($bg-main, 5%);
$bg-footer: $bg-header;

// Breakpoints
$mobile: 720px;
$tablet: 960px;
$laptop: 1360px;
$desktop: 1920px;

// Borders
$round: $tiny-gap;
$rounded: $half-gap;
$curved: $gap;
$shadow-direction: 0px 1px;
$shadow-depth: 2px;
$clr-light-border: #acada8;
$clr-dark-border: #746d69;

// Add gap to elements
header,
footer,
main,
aside,
nav,
fieldset {
  padding: $gap;
}

// Add half gap to elements
input {
  padding: $half-gap;
}

// Semantic elements
body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: $main-font;
}

a {
  color: $primary-highlight;
  text-decoration: none;

  &:hover {
    color: $primary-highlight-hover;
  }
  &:focus {
    color: $primary-highlight-hover;
    outline: 2px solid $primary-highlight-hover;
    border-color: $primary-highlight;
    outline-offset: $tiny-gap;
    border-radius: $round;
  }
}

header {
  background: $bg-header;
}

nav {
  background: $bg-nav;
}

main {
  background: $bg-main;
}

aside {
  background: lightpink;
}

footer {
  color: $white;
  background: $bg-footer;
}

form {
  input {
    width: 100%;
    border-radius: $rounded;
    border: 1px solid $clr-dark-border;

    &:focus {
      outline: 1px solid $primary-highlight-hover;
      border-color: $primary-highlight-hover;
      outline-offset: 0;
    }
  }

  fieldset {
    border-color: $clr-light-border;
    border-radius: $rounded;
    border-style: solid;
    border-width: 1px;

    legend {
      font-size: 1rem;
      font-weight: 500;
      padding: 0 $half-gap;
    }
  }
}

// Titles
// Use only one h1 element per page or view
h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

// Custom elements
.container {
  max-width: $laptop;
  margin: 0 auto;
}

.logo {
  color: $white;
  font-weight: 600;
  margin-inline-start: $half-gap;
}

// Flex helpers
.flex {
  display: flex;

  &.gap {
    gap: $gap;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.stretch {
    align-items: stretch;
  }
  &.center {
    align-items: center;
  }
  .justify {
    &-end {
      justify-content: flex-end;
    }
    &-space-between {
      justify-content: space-between;
    }
  }
}

.col-100 {
  flex: 1 0 100%;
}
.col-90 {
  flex: 1 0 90%;
}
.col-80 {
  flex: 0 0 80%;
}
.col-70 {
  flex: 0 0 70%;
}
.col-60 {
  flex: 0 0 60%;
}
.col-50 {
  flex: 0 0 50%;
}
.col-40 {
  flex: 0 0 40%;
}
.col-30 {
  flex: 0 0 30%;
}
.col-20 {
  flex: 0 0 20%;
}
.col-10 {
  flex: 0 0 10%;
}
.col-33 {
  flex: 0 0 calc(100% / 3);
}
.col-auto {
  flex: 1;
}

.box {
  background: $white;
  padding: $gap;
  border-radius: $curved;
  box-shadow: $shadow-direction $shadow-depth $clr-dark-border,
    0px 0px 5px #cccdc6;
}

// Center the child vertically and horizontally
.v-center {
  display: grid;
  place-items: center;
  height: 100%;
}

// Optimize print
@media print {
  header,
  main {
    background: transparent;
  }

  nav,
  footer,
  aside {
    display: none;
  }
}

// Color helpers
.white {
  color: $white;
}
